In [1]:
import pandas as pd
import numpy as np
import os
import re
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

In [41]:
with open('new_obesity_data_2014.csv') as f:
    df = pd.read_csv(f)

In [42]:
df.head()

       Country        Both sexes            Female              Male
0  Afghanistan     2.9 [1.6-4.2]     4.1 [2.2-6.7]     1.8 [0.8-3.3]
1      Albania  17.6 [12.7-22.2]    18.7 [12-26.3]  16.5 [10.7-23.4]
2      Algeria  24.8 [19.7-29.8]  30.8 [23.4-38.5]  18.8 [12.9-25.4]
3      Andorra  29.5 [23.8-35.1]  30.5 [22.5-39.1]  28.5 [21.1-36.1]
4       Angola     10.2 [6-14.3]   14.2 [8.4-21.7]      6 [2.9-10.8]

In [43]:
def splitter(x):
    num = x.split(' ')[0]
    return num

In [44]:
for col in df.columns[1:]:
    df[col] = df[col].apply(splitter)
    df[col] = pd.to_numeric(df[col], errors='coerce')
df = df.rename(columns={df.columns[1]:'Both'})

In [45]:
df.head()

       Country  Both   Female   Male
0  Afghanistan   2.9      4.1    1.8
1      Albania  17.6     18.7   16.5
2      Algeria  24.8     30.8   18.8
3      Andorra  29.5     30.5   28.5
4       Angola  10.2     14.2    6.0

In [46]:
df_sorted = df.sort_values(by='Both')

In [49]:
dfs = df_sorted.tail(25)
ax = plt.barh(np.arange(len(dfs))-1, dfs.Both, align='center')
plt.subplots_adjust(left=0.27)
plt.yticks(np.arange(len(dfs))-1,dfs.Country.values)
plt.title("Top 25 Obese Nations (2014)")
plt.xlabel("Percent of Population Obese")
plt.show()

In [53]:
dfs = df_sorted.head(25).sort_values(by='Both', ascending=False)
ax = plt.barh(np.arange(len(dfs))-1, dfs.Both, align='center', color='lightblue')
plt.subplots_adjust(left=0.27)
plt.yticks(np.arange(len(dfs))-1,dfs.Country.values)
plt.title("25 Least Obese Nations (2014)")
plt.xlabel("Percent of Population Obese")
plt.show()

In [55]:
with open('C:/Users/Noah/DDW/open_data/ISO_Codes/ISO_Country_Codes.csv') as f:
    idf = pd.read_csv(f, header=None)

In [56]:
idf.rename(columns={0:'ISO', 1:'Country'}, inplace=True)

In [57]:
idf.head()

   ISO        Country
0  ABW          Aruba
1  AFG    Afghanistan
2  AGO         Angola
3  AIA       Anguilla
4  ALA  �land Islands

In [58]:
df_set = pd.core.series.Series(list(set(df_sorted.Country)))
idf_set = pd.core.series.Series(list(set(idf.Country)))

In [59]:
[(i, j) for (i, j) in enumerate(df_set.isin(idf_set)) if not j]

[(46, False),
 (47, False),
 (60, False),
 (69, False),
 (71, False),
 (98, False),
 (101, False),
 (129, False),
 (132, False),
 (157, False),
 (160, False),
 (161, False),
 (185, False)]

In [89]:
print "df_set: ", df_set[185]

df_set:  Democratic People's Republic of Korea

In [90]:
x = [i for i, j in enumerate(idf_set.str.contains('Korea')) if j]
print idf_set[x]

135                        Korea, Republic of
149    Korea, Democratic People's Republic of
dtype: object

In [94]:
#idf
iso_replace = \
{'country' : 
   {idf_set[90] : df_set[46],
    idf_set[88] : df_set[47],
    idf_set[232] : df_set[60],
    idf_set[135] : df_set[69],
    idf_set[200] : df_set[71],
    idf_set[73] : df_set[98],
    idf_set[219] : df_set[101],
    idf_set[178]  : df_set[129],
    idf_set[2] : df_set[132],
    idf_set[86]  : df_set[157],
    idf_set[241]  : df_set[160],
    idf_set[36] : df_set[161],
    idf_set[149] : df_set[185]
   }
 }

In [95]:
idf = idf.replace(iso_replace)

In [98]:
df.head()

       Country  Both   Female   Male
0  Afghanistan   2.9      4.1    1.8
1      Albania  17.6     18.7   16.5
2      Algeria  24.8     30.8   18.8
3      Andorra  29.5     30.5   28.5
4       Angola  10.2     14.2    6.0

Merge dataframes to add ISO codes

In [104]:
test = idf.merge(df, how='inner', on='Country')
test = test.rename(columns={'ISO':'code', 'Both':'value'})

In [105]:
#test[test.value.notnull()].sort_values('value')
#test.drop(['Country','Sex','Age Group','Year2010'], axis=1, inplace=True)

In [106]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 0 to 178
Data columns (total 5 columns):
code       179 non-null object
Country    179 non-null object
value      179 non-null float64
 Female    179 non-null float64
 Male      179 non-null float64
dtypes: float64(3), object(2)
memory usage: 8.4+ KB

In [107]:
test.to_csv('obese_nations_iso.csv', index=False)

In [44]:
ax = plt.barh(np.arange(len(t))-1, t.value, align='center')

In [67]:
t = test[test.value.notnull()].sort_values('value', ascending=False).tail(25)

In [ ]:
ax = plt.barh(np.arange(len(t)), t.value, align='center', color='lightblue')
plt.subplots_adjust(left=0.27)
plt.yticks(np.arange(len(t)),t.Country.values, fontsize=13)
plt.title("25 Least Obese Nations (2014)", fontsize=16)
plt.xlabel("Percent of Population Obese", fontsize=14)


plt.show()