How to get Pearson Correlation (coefficient and test)

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('share-of-adults-who-are-overweight.csv')

In [9]:
df.head()

        Entity Code  Year  Share of adults that are overweight (%)
0  Afghanistan  AFG  1975                                      5.3
1  Afghanistan  AFG  1976                                      5.5
2  Afghanistan  AFG  1977                                      5.7
3  Afghanistan  AFG  1978                                      5.9
4  Afghanistan  AFG  1979                                      6.1